<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dashboard | Projeto Comunitário de Medição do Vento de Campinas</title>
	</head>

	<body>
		{{>header}}

		<div class="container">
			<h1>Dashboard</h1>
			<a href="cadastro/">Página de cadastro</a>
			<a href="password/">Trocar senha</a>

			<table id="userTable">
				<tr>
					<th>Matricula</th>
					<th>Nome</th>
					<th>Acesso a API</th>
					<th>Controle de API</th>
					<th>Ação permanente</th>
				</tr>
					{{#each user}}
						<tr>
							<td>{{matricula}}</td>
							<td>{{nome}}</td>
							{{#if api_enabled}}
								<td>Autorizado</td>
								<td><button type="button" onclick="change_access('disable', {{matricula}})">DESAUTORIZAR</button></td>
							{{else}}
								<td>Desautorizado</td>
								<td><button type="button" onclick="change_access('enable', {{matricula}})">AUTORIZAR</button></td>
							{{/if}}
							<td><button type="button" onclick="delete_user({{matricula}}, '{{nome}}')">DELETAR USUÁRIO</button></td>
						</tr>
					{{/each}}
				<script>
					function change_access(command, matricula) {
						fetch('/api/v1.0/controller', {
							headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							method: 'POST',
							body: JSON.stringify({
								scope: 'change access',
								command,
								matricula
							})
						}).then(res => res.json())
						.then(res => {
							if (!res.success)
								alert(res.message)
							else if (res.success)
								location.reload()
							else
								console.log(`Unexpected response: ${res}`)
						})
						.catch(err => alert(err))
					}

					function delete_user(matricula, nome) {
						let form = document.getElementById('userTable')
						const warning_message = '<h2>ALERTA, ESSA AÇÃO É IRREVERSÍVEL</h2>' + 
							`<h3>O usuário ${nome} será completamente removido da lista de usuários cadastrados</h3>` +
							'<p>As medidas de telemetria enviadas por ele não serão removidas do banco de dados</p>' +
							`<h4>Deseja realmente remover PERMANENTEMENTE o usuário ${nome} (matrícula ${matricula})?</h4>` +
							'<a href=".">CANCELAR</a><br>' +
							`<a href="./delete_user/?matricula=${matricula}">REMOVER USUÁRIO</a>`
						form.innerHTML = warning_message
					}
				</script>
			</table>
		</div>
	</body>
</html>
