<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dashboard | Projeto Comunitário de Medição do Vento de Campinas</title>
	</head>

	<body>
		{{>header}}

		<div class="container">
			<h1>Hello Dashboard!</h1>
			<a href="cadastro/">Página de cadastro</a>
			<a href="password/">Atualizar password</a>

			<table id="userTable">
				<tr>
					<th>Matricula</th>
					<th>Nome</th>
					<th>Acesso a API</th>
					<th>Ação</th>
					<th>Api_key</th>
				</tr>
					{{#each user}}
						<tr>
							<td>{{matricula}}</td>
							<td>{{nome}}</td>
							{{#if api_enabled}}
								<td>Autorizado</td>
								<td><button type="button" onclick="change_access('disable', {{matricula}})">DESAUTORIZAR</button></td>
							{{else}}
								<td>Desautorizado</td>
								<td><button type="button" onclick="change_access('enable', {{matricula}})">AUTORIZAR</button></td>
							{{/if}}
							<td><button>Mostrar chave da API</button></td>
						</tr>
					{{/each}}
				<script>
					function change_access(command, matricula) {
						fetch('/api/v1.0/controller', {
							headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							method: 'POST',
							body: JSON.stringify({
								scope: 'change access',
								command,
								matricula
							})
						}).then(res => res.json())
						.then(res => {
							if (!res.success)
								alert(res.message)
							else if (res.success)
								location.reload()
							else
								console.log(`Unexpected response: ${res}`)
						})
						.catch(err => alert(err))
					}
				</script>
			</table>
		</div>
	</body>
</html>
